{% extends 'base.html.twig' %}

{% block title %}Hello CountryController!{% endblock %}

{% block body %}
    <h1> Market share in {{ country.name }}</h1>

    <h2> Supermarket : {{ country.supermarket }} %</h2>
    <h2> Beauty Salon : {{ country.beautySalon }} %</h2>
    <h2> Pharmacy : {{ country.Pharmacy }} %</h2>
    <h2> Perfumery : {{ country.Perfumery }} %</h2>
    <h2> Online : {{ country.online }} %</h2>

{% endblock %}
