{# templates/contact/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container">
        <img src="{{ asset('build/images/homepage2.png') }}" class="img-fluid mb-4" alt="Header Image">
        <h1 class="mt-3">Contact</h1>

        {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
        <div class="col-md-6 mb-3">
            {{ form_row(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
        </div>
        <div class="col-12 mb-3">
            {{ form_row(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Message'}}) }}
        </div>
        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
